.fileSystemObject {
  margin: 8px 0;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  .fileSystemObject_icon {
    font-size: 13px;
    color: #eee;
    margin-right: 7px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}